<h1>Lista de Empleados</h1>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let empleado" (click)="onItemClick(empleado)"> {{empleado.nombre}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="posicion">
      <mat-header-cell *matHeaderCellDef> Posición </mat-header-cell>
      <mat-cell *matCellDef="let empleado" (click)="onItemClick(empleado)"> {{empleado.posicion}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="oficina">
      <mat-header-cell *matHeaderCellDef> Oficina </mat-header-cell>
      <mat-cell *matCellDef="let empleado" (click)="onItemClick(empleado)"> {{empleado.oficina}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="salario">
      <mat-header-cell *matHeaderCellDef> Salario </mat-header-cell>
      <mat-cell *matCellDef="let empleado" (click)="onItemClick(empleado)"> {{empleado.salario}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

